body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;

  /* space between line */
  line-height: 1.6;
}

img {
  max-width: 100%;

  /* what is this? */
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}

.container {
  /* so it doesn't touch the side */
  width: 85%;

  max-width: 65em;
  margin: 0 auto;
}

/* i don't know what most of this does, the example is using sass, so the syntax is different */
/* but the point is, if the screen is bigger then it moves in column, but if small it's in row */
.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.split > * {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  min-width: 15em;
}

/* what this does is giving a margin top to the btn, paragraph, but not on primary-title */
.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

/* how to create button manually */
.btn {
  /* if we don't use this, then button box will cover the paragraph above */
  /* display: inline, means new element is in line, display: block, means new element at the new line */
  /* further explanation: css layouting 1 (display) */
  display: inline-block;

  /* remove the link underline */
  text-decoration: none;

  /* color: white; */

  /* different approach with color */
  color: var(--clr-text, #fff);

  /* making it bold */
  font-weight: 700;

  text-transform: uppercase;

  font-size: 1.125rem;

  /* learn this */
  padding: 0.5em 1.25em;

  /* background: blue; */
  background: var(--clr-accent, blue);

  /* creating curve */
  border-radius: 0.25em;

  /* (transform) is the speed of focus changes */
  transition: transform 250ms ease-in-out, opacity 250ms linear;
}

/* making it cool */
.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.primary-title {
  font-size: 4rem;

  /* don't know  what this does. relative size? */
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);

  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.hero {
  color: white;
  text-align: center;
  padding: 15em 0;

  /* the background default if browser doesn't support */
  background: #222;
}

/* if the browser support, then it will does this */
@supports (background-blend-mode: multiply) {
  .hero {
    /* radial gradient is giving it a little color effect */
    background: url(../img/shoe-3.png), radial-gradient(#444, #111);

    /* to make background blend? learn more */
    background-blend-mode: multiply;

    /* make the background doesn't move when you scroll down*/
    background-attachment: fixed;

    /* when the screen stretch out, it doesn't become tiles */
    background-repeat: no-repeat;

    /* make the image always on the center */
    background-position: center center;
  }
}

/* notes in here, if you're using sass, @supports can be inside .hero, and the code will be shorter */
/* the extension if sass is .scss, learn more about sass */

/* ========================================================================== */
/* featured section, you need to learn about css syntax and sass */
/* i'm thinking, what does bootstrap could help us regarding this? */
.featured {
  background: #eee;
}

.featured__item {
  display: block;
  position: relative;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.2;
}

.featured__item:hover,
.featured__item:focus {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.featured__item:hover .featured__details,
.featured__item:focus .featured__details {
  opacity: 1;
  text-shadow: 0 0 2em white;
}

.featured__item::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 75% 75% 0 0;
  border-radius: 50%;
  background: #2193b0;
  z-index: -1;
}

.featured__details {
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.featured__details span {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
}
/* ==========================================================================  */

.product {
  /* this is the default color, but you can setup --clr-inner or outer manually */
  background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));

  padding: 3em;
  border-radius: 1em;
  margin-bottom: 5em;
  text-align: center;
}

/* if you're using sass, then it could be nested inside .product */
.product__title {
  font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

.product__image {
  /* making the image fancy, out of the box */
  margin: -5em 0 0 0;
}

/* ======================================================================== */
/* learn more about this, because it makes it reaallly better */
@media (min-width: 45em) {
  .product {
    text-align: left;
    margin-bottom: 9em;
  }
  .product__title {
    margin: 0;
  }
  .product__image {
    float: right;
    width: 65%;
    shape-outside: url(../img/shoe-1.png);
    shape-margin: 1em;
    margin: 0 -5em 0 0;
  }
  .product.shoe-left .product__image {
    float: left;
    shape-outside: url(../img/shoe-2.png);
    margin: 0 0 0 -5em;
    shape-margin: 2em;
  }
}
/* ========================================================================= */

/* =========================================================================== */
/* how you could setting up color manually */

.hero {
  --clr-accent: #faa700;
}

.shoe-red {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.shoe-white {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.shoe-blue {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}
